BasedOnStyle: Google
IndentWidth: 4                    # 缩进宽度为 2 空格
TabWidth: 4                        # Tab 的宽度（Google 风格推荐 2 空格）
# UseTab: Never                      # 禁用 Tab，始终使用空格缩进
ColumnLimit: 200                  # 每行代码的最大字符数为 80
AllowShortIfStatementsOnASingleLine: false   # 单行 if 语句保持清晰
DerivePointerAlignment: false      # 禁用自动推导指针对齐
PointerAlignment: Left             # 指针对齐到左侧
SpacesInAngles: false              # 模板参数中不加空格
SpaceAfterCStyleCast: true         # C 风格转换后添加空格
BreakBeforeBraces: Attach          # 大括号在同一行
AllowShortFunctionsOnASingleLine: InlineOnly # 仅内联的短函数可以单行书写
